.valentineContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
  gap: 1px;
}

.imageContainer {
  margin-bottom: 10px;
}

.buttonContainer {
  padding: 10px;
}

.yesButton {
  background-color: hotpink;
  border: 1px solid black;
  border-radius: 4px;
  padding: 5px 10px;
  margin-right: 5px;
}

.noButton {
  background-color: red;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 16px;
  padding: 5px 10px;
  margin-left: 5px;
}
