:root {
  background-color: pink;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-align: center;
}

button:hover {
  cursor: pointer;
  transition: border-color 0.25s;
}
